{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

{% block content %}

<h1>{{ title }}</h1>

<div class="layout" data-layout="yogi">

<div>
{{ lede | safe }}
{{ main | safe }}
</div><!-- one -->

<div>
{% if featureImage %}
<figure data-fill="contain">
<img src="{{ featureImage }}" alt="{{ featureImageCaption }}" />
{% if featureImageCaption %}
<figcaption>{{ featureImageCaption }}</figcaption>
{% endif %}
</figure>
{% endif %}

<blockquote data-variant="m">
{% include "partials/icon-quote-open.njk" %}
{{ aside | safe }}
</blockquote>
</div><!-- two -->

</div><!-- layout -->

<!-- CONTENT -->
{{ content | safe }}

{% endblock %}

{% include "partials/footer.html" %}
<script src="{{ site.url }}/js/scripts.js"></script>
</body>

</html>