{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<div class="layout" data-layout="boo-boo">

<div>
<h1>{{ pageHeaderTitle }}</h1>

{% for member in collections.board %}
<article class="item-team">

{% if member.data.image %}
<div>
<img src="/images/{{ member.data.image }}" alt="{{ member.data.name }}" style="width:200px;">
</div><!-- one -->
{% endif %}

<div>
<h2>{% if member.data.qualifications %}<span>{{ member.data.qualifications }}</span><br>{% endif %}<a href="{{ member.url }}">{{ member.data.name }}</a></h2>

{% if member.data.role %}
<p>{{ member.data.role }} {% if member.data.location %}• {{ member.data.location }}{% endif %}</p>
{% endif %}

{% if member.data.summary %}
<p>{{ member.data.summary }}</p>
{% endif %}

<small>
{% if member.data.email %}<a href="{{ member.data.email }}">{{ member.data.email }}</a>{% endif %} •
{% if member.data.url %}<a href="{{ member.data.url }}">Website</a>{% endif %}
{% if member.data.url and member.data.linkedin %} • {% endif %}
{% if member.data.linkedin %}<a href="{{ member.data.linkedin }}">LinkedIn</a>{% endif %}
</small>

</div><!-- two -->

</article>
{% endfor %}
</div><!-- one -->

<div>
<h2><a href="/team">Our team</a></h2>
<ul>
{% for teammember in collections.team %}
<li><a href="{{ teammember.url }}">{{ teammember.data.name }}</a></li>
{% endfor %}

</div><!-- two -->

</div><!-- layout -->

{% endblock %}