{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<h1>{{ title }}</h1>
{{ lede | safe }}

<div class="layout" data-layout="yogi">

<div>
<form action="/thanks/" class="contact-form" method="POST" name="contact-form">
<input type="hidden" name="form-name" value="contact-form">

<div data-layout="flex">

<div>
<label for="contact-name">Name</label>
<input type="text" name="contact-name" id="contact-name">
</div><!-- one -->

<div>
<label for="contact-company">Company <span>Optional</span></label>
<input type="text" name="contact-company" id="contact-company">
</div><!-- two -->

</div><!-- layout -->

<div data-layout="flex">

<div>
<label for="contact-email">Email</label>
<input type="email" name="contact-email" id="contact-email">
</div><!-- one -->

<div>
<label for="contact-tel">Phone</label>
<input type="tel" named="contact-tel" id="contact-tel">
</div><!-- two -->

</div><!-- layout -->

<div>
<label for="contact-message">Message</label>
<textarea name="contact-message" id="contact-message"></textarea>
</div>

<div data-align-h="right">
<button class="btn">Submit</button>
</div><!-- align -->

</form>

<h2>FAQs</h2>

{% for faq in collections.faqs %}
<details>
<summary>{{ faq.data.title }}</summary>
<div class="faq-answer">
{{ faq.templateContent | safe }}
</div>
</details>
{% endfor %}

</div><!-- one -->

<div>
{% if featureImage %}
<figure>
<img src="{{ featureImage }}" alt="{{ featureImageCaption }}" style="margin-inline:auto; width:240px;" />
{% if featureImageCaption %}
<figcaption>{{ featureImageCaption }}</figcaption>
{% endif %}
</figure>
{% endif %}

<h2>Our team</h2>

{% for member in collections.team %}
<article class="item-team">

{% if member.data.image %}
<div>
<img src="/images/{{ member.data.image }}" alt="{{ member.data.name }}">
</div><!-- one -->
{% endif %}

<div>
<h3>{% if member.data.qualifications %}<span>{{ member.data.qualifications }}</span>{% endif %}<br>
<a href="{{ member.url }}">{{ member.data.name }}</a></h3>
{% if member.data.role %}<p>{{ member.data.role }}</p>{% endif %}
</div><!-- two -->

</article>
{% endfor %}

</div><!-- two -->

</div><!-- layout -->

{% include "partials/footer.html" %}

<script src="{{ site.url }}/js/scripts.js"></script>
</body>

</html>