{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}" data-theme="light">

{% include "partials/header.html" %}

<div class="layout" data-layout="yogi">

<div>
<h1>{{ title }}</h1>
{{ lede | safe }}

<form action="/thanks/" class="contact-form" method="POST" name="contact-form">
<input type="hidden" name="form-name" value="contact-form">

<div data-layout="flex">

<div>
<label for="contact-name">Name</label>
<input type="text" name="contact-name" id="contact-name">
</div><!-- one -->

<div>
<label for="contact-email">Email</label>
<input type="email" name="contact-email" id="contact-email">
</div><!-- two -->

</div><!-- layout -->

<div>
<label for="contact-message">Message</label>
<p>We appreciate and read all messages, but our workload prevents us from replying to every inquiry.</p>

<textarea name="contact-message" id="contact-message"></textarea>
</div>

<div data-align-h="right">
<button class="btn">Submit</button>
</div><!-- align -->

</form>

</div><!-- one -->

<div>

{% if featureImage %}
<figure>
<img src="{{ featureImage }}" alt="{{ featureImageCaption }}" />
{% if featureImageCaption %}
<figcaption>{{ featureImageCaption }}</figcaption>
{% endif %}
</figure>
{% endif %}

{{ aside | safe }}

<ul class="alt-" data-variant="bordered-l">
<li><a href="/team">The team</a></li>
<li><a href="/board">Advisory board</a></li>
<li><a href="/partners">Our partner</a></li>
</ul>

</div><!-- two -->

</div><!-- layout -->



<hr>


<div class="layout" data-layout="yogi">

<div>
<h2>Frequently asked questions</h2>

<p>Review our FAQs section as this often provides the fastest answers to your questions.</p>

{% set contactFaqs = collections.faqs | filterFaqsByCategory("contact") %}
{% for faq in contactFaqs %}
<details>
<summary>{{ faq.data.title }}</summary>
<div class="faq-answer">
{{ faq.templateContent | safe }}
</div>
</details>
{% endfor %}
</div><!-- one -->

<div>
</div><!-- two -->


</div><!-- layout -->


{% include "partials/footer.html" %}
</body>

</html>