{% extends "layouts/base.html" %}

{% set postListItems = pagination.items %}

{% if tag %}
{% set postListItems = collections[tag] %}
{% set pageHeaderTitle = 'Blog posts filed under “' + tag + '”' %}
{% else %}
{% set pageHeaderTitle = title %}
{% endif %}

{% block content %}

<h1>{{ pageHeaderTitle }}</h1>

{{ content | safe }}

<div class="layout" data-layout="boo-boo">

<div data-content="posts">
{% include "partials/post-list.html" %}
</div><!-- one -->

<div>
<h2>Categories</h2>
<ul class="alt-" data-variant="bordered-l">
{% for category in collections.postCategories %}
<li><a href="/blog/category/{{ category | slug }}/">{{ category }}</a></li>
{% endfor %}
</ul>

<hr data-function="spacer">

<h2>Tags</h2>
<ul class="alt-" data-variant="bordered-l">
{% for tag in collections.postTags %}
<li><a href="/blog/tag/{{ tag | slug }}/">{{ tag }}</a></li>
{% endfor %}
</ul>
</div><!-- two -->

</div><!-- layout -->

{% if not tag %}
{% include "partials/pagination.html" %}
{% endif %}

{% endblock %}