{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}" data-theme="light">

{% block content %}

<div id="banner-index-s" data-visibility="small">
{% include "partials/logo-banner.njk" %}
</div><!-- visibility -->

<div class="layout" data-layout="chugga-boom">

<div>
{% include "partials/img-index.njk" %}
</div><!-- one -->

<div id="nav-block">
{% for item in navigation.items %}
<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
{% endfor %}
</div><!-- two -->

<main>

<div data-visibility="large" style="margin-block-end: var(--spacing-l);">
{% include "partials/logo-banner.njk" %}
</div><!-- visibility -->

<h1 data-visibility="hidden">{{ title }}</h1>

{{ lede | safe }}
{{ main | safe }}

<p><a href="/about" class="alt-arrow"><svg class="img-icon" xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16">
<path fill="#000" d="M7.543 1.043a1 1 0 0 1 1.414 0l6.25 6.25a.997.997 0 0 1 0 1.415l-6.26 6.25a1 1 0 0 1-1.413-1.416L12.083 9H1a1 1 0 0 1 0-2h11.086L7.543 2.457a1 1 0 0 1 0-1.414"/></svg> Read more</a></p>

</main><!-- three -->

<div>
<blockquote>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 50">
<path fill="#212529" d="M0 14.91Q0 6.555 3.68 3.278 7.358 0 16.007 0h8.133v4.37h-8.133q-6.454 0-8.843 2.121-2.388 2.121-2.388 8.162v27.25H24.14V50H0zm38.859 0q0-8.355 3.679-11.632Q46.217 0 54.867 0H63v4.37h-8.133q-6.455 0-8.843 2.121-2.39 2.121-2.389 8.162v27.25H63V50H38.859z"/>
</svg>
{{ aside | safe }}
 </blockquote>

</div><!-- four -->

</div><!-- layout -->




<hr data-function="spacer">

{% endblock %}

{% include "partials/scenarios-list.html" %}



<hr data-function="spacer">

<section data-theme="inverted">

<h2><a href="/blog">Highlights</a></h2>

<div data-content="posts">
{% set postListItems = collections.blog | limit(6) %}

{% for item in postListItems %}
<article class="item-post">

<div class="alt-bordered">
<small>{{ item.data.postDate | dateFilter('d MMM yyyy') }}</small>
</div><!-- alt-bordered -->

<h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>

</article>
{% endfor %}

</div><!-- posts -->

</section><!-- inverted -->





<hr data-function="spacer">

<h2 class="alt-bg"><a href="/lexicon-grid">From the lexicon</a></h2>

<div data-layout="flex" data-border="r">
{% set recentLexicon = collections.lexicon | sort(false, false, "date") | reverse | limit(3) %}
{% for term in recentLexicon %}
<article class="item-lexicon">
<h3><a href="{{ term.url }}">{{ term.data.title }}</a></h3>
<p>{{ term.data.summary }}</p>
</article>
{% endfor %}
</div><!-- layout -->





<hr data-function="spacer">

<div class="layout" data-layout="pockets">

<div>
<h2 class="alt-bg" data-align-h="center"><a href="/partners">Partners</a></h2>
</div><!-- one -->

{% include "partials/partners.html" %}

</div><!-- layout -->





<hr data-function="spacer">

{% include "partials/recent-photos.html" %}

{% include "partials/footer.html" %}
</body>

</html>