{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}" data-theme="light">

{% block content %}

<div class="layout" data-layout="chugga-boom" data-theme="inverted">

<div id="nav-block">
{% for item in navigation.items %}
<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
{% endfor %}
</div><!-- one -->

<div>
<div style="max-inline-size:280px;">{% include "partials/logo-banner.njk" %}</div>
<h1 data-visibility="hidden">{{ title }}</h1>
{{ lede | safe }}
{{ main | safe }}
<p><a href="/about" class="alt-arrow"><svg class="img-icon" xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16"><path fill="#000" d="M7.543 1.043a1 1 0 0 1 1.414 0l6.25 6.25a.997.997 0 0 1 0 1.415l-6.26 6.25a1 1 0 0 1-1.413-1.416L12.083 9H1a1 1 0 0 1 0-2h11.086L7.543 2.457a1 1 0 0 1 0-1.414"/></svg> Learn more</a></p>

<hr>

<ul class="alt-inline" data-size="s">
<li><a href="#section-scenarios">Future scenarios</a></li>
<li><a href="#section-lexicon">Alternative Lexicon</a></li>
<li><a href="#section-highlights">Highlights</a></li>
</ul>

</div><!-- two -->

<div data-blend data-visibility="large" aria-hidden="true">
<img src="/images/img-index-2.webp" alt="">
</div><!-- three -->

<div data-blend data-visibility="large" aria-hidden="true">
<img src="/images/img-index-3.webp" alt="">
</div><!-- four -->

</div><!-- layout -->




<hr data-function="spacer" id="section-scenarios">

{% include "partials/scenarios-list.html" %}




<section data-theme="inverted">

<hr data-function="spacer" id="section-lexicon">

<h2><a href="/lexicon-grid">Alternative Lexicon</a></h2>

<div data-layout="flex" data-border="r">
{% set recentLexicon = collections.lexicon | sort(false, false, "date") | reverse | limit(3) %}
{% for term in recentLexicon %}
<article class="item-lexicon">
<h3><a href="{{ term.url }}">{{ term.data.title }}</a></h3>
<p>{{ term.data.summary }}</p>
</article>
{% endfor %}
</div><!-- layout -->

</section>




<hr data-function="spacer" id="section-highlights">


<h2 class="alt-bg"><a href="/blog">Highlights</a></h2>

<div data-content="posts">
{% set postListItems = collections.blog | limit(6) %}

{% for item in postListItems %}
<article class="item-post">

<div class="alt-bordered">
<small>{{ item.data.postDate | dateFilter('d MMM yyyy') }}</small>
</div><!-- alt-bordered -->

<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>

</article>
{% endfor %}

</div><!-- posts -->


{% endblock %}


<hr data-function="spacer">



{% include "partials/footer.html" %}
</body>

</html>