{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}" data-theme="light">

{% block content %}

<div class="layout" data-layout="chugga-boom" data-theme="inverted">

<div id="nav-block">
{% for item in navigation.items %}
<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
{% endfor %}
</div><!-- one -->

<div>
{% include "partials/logo-banner.njk" %}
<h1 data-visibility="hidden">{{ title }}</h1>
{{ lede | safe }}
{{ main | safe }}
<p><a href="/about" class="alt-arrow"><svg class="img-icon" xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16"><path fill="#000" d="M7.543 1.043a1 1 0 0 1 1.414 0l6.25 6.25a.997.997 0 0 1 0 1.415l-6.26 6.25a1 1 0 0 1-1.413-1.416L12.083 9H1a1 1 0 0 1 0-2h11.086L7.543 2.457a1 1 0 0 1 0-1.414"/></svg> Read more</a></p>

<hr>

<ul class="alt-inline">
<li><a href="#section-scenarios">Future scenarios</a></li>
<li><a href="#section-lexicon">Alternative Lexicon</a></li>
<li><a href="#section-highlights">Highlights</a></li>
</ul>

</div><!-- two -->

<div data-visibility="large">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 671 1064">
<g fill="none" fill-rule="evenodd">
<path fill="#20505f" d="M280 672H1V392h279z"/>
<path fill="#28a4a4" d="M167.739 840h-167V728h167z"/>
<path fill="#28a4a4" d="M222.6 336H.6V224h222z"/>
<path fill="#28a4a4" d="M167.739 616h-109V504h109z"/>
<path fill="#20505f" d="M336.26 560h280v280h-280z"/>
<path fill="#20505f" d="M390.812 168h280.157v280H390.812z"/>
<path fill="#28a4a4" d="M446.918 0h112.025v336H446.918z"/>
<path fill="#28a4a4" d="M446.918 672h224.051v224H446.918z"/>
<path fill="#28a4a4" d="M280 392h168.038v168H280z"/>
<path fill="#28a4a4" d="M289.656 952h280.063v112H289.656z"/>
<path fill="#05aae0" d="M373.703 840h112.063v224H373.703z"/>
</g>
</svg>
</div><!-- three -->

<div data-visibility="large">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 670 1064">
<g fill="none" fill-rule="evenodd">
<path fill="#20505f" d="M392 448h224v224H392z"/>
<path fill="#20505f" d="M224 0h280v280H224z"/>
<path fill="#20505f" d="M169.4 784h280v280h-280z"/>
<path fill="#20505f" d="M0 392h280v280H0z"/>
<path fill="#28a4a4" d="M112.262 224h279.907v112H112.262z"/>
<path fill="#28a4a4" d="M57.4 728h279.907v112H57.4z"/>
<path fill="#28a4a4" d="M112.262 448h279.907v112H112.262z"/>
<path fill="#05aae0" d="M449.4 56h112v336h-112z"/>
<path fill="#05aae0" d="M393.4 728h112v224h-112z"/>
<path fill="#28a4a4" d="M616 672h54V504h-54z"/>
<path fill="#28a4a4" d="M626.656 112h43V0h-43z"/>
</g>
</svg>
</div><!-- four -->

</div><!-- layout -->




<hr data-function="spacer" id="section-scenarios">

{% include "partials/scenarios-list.html" %}




<section data-theme="inverted">

<hr data-function="spacer" id="section-lexicon">

<h2><a href="/lexicon-grid">Alternative Lexicon</a></h2>

<div data-layout="flex" data-border="r">
{% set recentLexicon = collections.lexicon | sort(false, false, "date") | reverse | limit(3) %}
{% for term in recentLexicon %}
<article class="item-lexicon">
<h3><a href="{{ term.url }}">{{ term.data.title }}</a></h3>
<p>{{ term.data.summary }}</p>
</article>
{% endfor %}
</div><!-- layout -->

</section>




<hr data-function="spacer" id="section-highlights">


<h2 class="alt-bg"><a href="/blog">Highlights</a></h2>

<div data-content="posts">
{% set postListItems = collections.blog | limit(6) %}

{% for item in postListItems %}
<article class="item-post">

<div class="alt-bordered">
<small>{{ item.data.postDate | dateFilter('d MMM yyyy') }}</small>
</div><!-- alt-bordered -->

<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>

</article>
{% endfor %}

</div><!-- posts -->


{% endblock %}


<hr data-function="spacer">



{% include "partials/footer.html" %}
</body>

</html>