{% extends "layouts/base.html" %}

{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{% block content %}

<small class="item-meta">{{ page.date | dateFilter }}</small>
<h1>{{ title }}</h1>
<p>{{ postSummary }}</p>

{{ content | safe }}

<small>{{ postAuthor }} •
{% for tag in postTags %}
<span class="tag">{{ tag }}</span>{% if not loop.last %} • {% endif %}
{% endfor %}
</small>

<hr>

{% if recommendedPosts %}
{% set postListItems = recommendedPosts %}
<h2>More posts</h2>
<div data-content="posts">
{% include "partials/post-list.html" %}
</div>
{% endif %}

{% endblock %}