{% extends "layouts/base.html" %}

{# Grab other posts that aren't this one for the 'more from the blog' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{# Render post date and any tags that this post has been filed under #}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% if tags %}
<p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
<ul class="tags-list" aria-describedby="tags-desc">
{% for tag in tags %}
<li>
<a href="/tag/{{ tag | slug }}/">#{{ tag | replace(' ', '') | capitalize }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
{% endset %}

{% block content %}

<figure>
<img src="{{ featureImage }}" alt="{{ featureImageCaption }}" />
<figcaption>{{ featureImageCaption }}</figcaption>
</figure>

{{ content | safe }}

{% if recommendedPosts %}
<footer class="grid recommended-posts">
{% set postListItems = recommendedPosts %}
{% set postListHeadline = 'More from the blog' %}
{% include "partials/post-list.html" %}
</footer>
{% endif %}

{% endblock %}