{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<div class="layout" data-layout="yak-yak">

<div>

<div class="alt-bordered">
<p>
{% if popular %}<span class="flag popular">Popular</span>{% endif %}
{% if featured %}<span class="flag featured">Featured</span>{% endif %}
</p>
<a href="/lexicon/">Back</a>
</div><!-- alt-bordered -->

<h1>{{ title }}</h1>

<blockquote data-variant="bordered">
<p>{{ summary }}</p>
</blockquote>

{{ content | safe }}

{% if url %}
<p><a href="{{ url }}">External reference</a></p>
{% endif %}

</div><!-- one -->
</div><!-- layout -->


{% if categories %}

<hr data-function="spacer">

{% set hasRelatedTerms = false %}
{% for category in categories %}
    {% set relatedTerms = collections.lexicon | filterLexiconByCategory(category) | excludeCurrent(page.url) %}
    {% if relatedTerms.length > 0 %}
        {% set hasRelatedTerms = true %}
    {% endif %}
{% endfor %}

{% if hasRelatedTerms %}
<hr data-function="spacer">

<div class="alt-bordered">
<h2>More from</h2>
<a href="/lexicon/">Back</a>
</div><!-- alt-bordered -->
{% endif %}

<div data-layout="flex">

{% for category in categories %}
<div>
{% set relatedTerms = collections.lexicon | filterLexiconByCategory(category) | excludeCurrent(page.url) | limit(4) %}
{% if relatedTerms.length > 0 %}
<h3 data-size="r">{{ category }}</h3>
<ul class="alt-">
{% for term in relatedTerms %}<li><a href="{{ term.url }}">{{ term.data.title }}</a></li>{% endfor %}
</ul>
{% endif %}
</div>
{% endfor %}

</div><!-- layout -->

{% endif %}

{% endblock %}