---
pagination:
  data: collections.blogTagPages
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "{{ tag.permalink }}"
layout: "layouts/base.html"
---

<h1>{{ tag.title }}</h1>

<div class="layout" data-layout="boo-boo">

<div data-content="posts">
{% set tagPosts = collections.blog | filterBlogByTag(tag.tag) %}
{% set postListItems = tagPosts %}
{% include "partials/post-list.html" %}
</div><!-- one -->

<div>
<h2>All Tags</h2>
<ul class="alt-" data-variant="bordered-l">
{% for tag in collections.postTags %}
<li><a href="/blog/tag/{{ tag | slug }}/">{{ tag }}</a></li>
{% endfor %}
</ul>

</div><!-- two -->

</div><!-- layout -->