---
title: "Knowledge Hub"
layout: "layouts/base.html"
summary: The Shared Homeland Paradigm project is continuing a long research path of thinkers and initiatives that have worked to promote partnership-based models for Palestine-Israel. If you are interested in deepening your understanding of the field of Palestinian-Israeli confederation, we recommend exploring the following resources.
---

{% include "partials/schema/resources-hub.json.njk" %}

<p>{{ summary }}</p>

<hr data-function="spacer">

{% set backgroundPapers = collections.resources | filterByCategory("Background papers") | sort(false, false, "data.item-date") | reverse | limit(3) %}
{% set otherCategories = collections.resourcesCategory %}

<section>
<h2 data-size="2xl"><a href="/resources/category/background-papers/">Background papers</a></h2>

{% if backgroundPapers.length %}
<div data-layout="flex" data-border="r">
{% for resource in backgroundPapers %}
{% set resourceLink = resource.data["item-file"] or resource.data["item-url"] %}
<article class="item-resource">
{% if resource.data["item-author"] %}<small>{{ resource.data["item-author"] }}</small>{% endif %}
<h3 data-size="xl">{% if resourceLink %}<a href="{{ resourceLink }}" target="_blank">{{ resource.data["item-title"] }}</a>
{% else %}
{{ resource.data["item-title"] }}
{% endif %}
</h3>

{% if resource.data["item-summary"] %}
<p>{{ resource.data["item-summary"] | markdownLinksToHtml | safe }}</p>
{% endif %}
</article>
{% endfor %}

</div><!-- layout -->

{% else %}
<p>No background papers available.</p>
{% endif %}
</section>



<hr>



<section>
<h2 data-size="2xl">Other categories</h2>

{% if otherCategories.length %}
<div data-layout="flex" data-border="r">
{% for category in otherCategories %}
{% set categoryName = category | trim %}
{% if categoryName != "Background papers" %}
<article>
<h3><a href="/resources/category/{{ categoryName | lower | replace(' ', '-') }}/">{{ categoryName }}</a></h3>
{% set categorySummary = categoryName | getResourceCategorySummary %}
{% if categorySummary %}
<p>{{ categorySummary }}</p>
{% endif %}
</article>
{% endif %}
{% endfor %}
</div><!-- layout -->
{% else %}
<p>No categories available yet.</p>
{% endif %}
</section>
