---
title: "Knowledge Hub"
layout: "layouts/base.html"
summary: The Shared Homeland Paradigm project is continuing a long research path of thinkers and initiatives that have worked to promote partnership-based models for Palestine-Israel. If you are interested in deepening your understanding of the field of Palestinian-Israeli confederation, we recommend exploring the following resources.
---

<p>{{ summary }}</p>

<hr data-function="spacer">

<div class="layout" data-layout="yogi">

<div>
{% if collections.resources and collections.resources.length %}
  {% set resources = collections.resources | sort(false, false, "data.item-date") | reverse %}
  {% include "partials/resources-list.html" %}
{% else %}
  <p>No knowledge hub items available yet.</p>
{% endif %}
</div><!-- one -->

<div>
{% if collections.resources and collections.resources.length %}
{% include "partials/resources-nav.html" %}
{% endif %}
</div><!-- two -->

</div>