<footer role="contentinfo">

<div id="footer-logo">
<a href="#{{ site.siteID }}" title="Top">{% include "partials/logo-footer.njk" %}<span data-visibility="hidden">{{ site.name }}</span></a>
</div><!-- one -->

<div>
<small>
{% for item in footer_navigation.items %}
<a href="{{ item.url }}"{{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
{% if not loop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
{% endfor %}
</small>
</div><!-- two -->

</footer>

<small>&#169; The Shared Homeland Paradigm. 2025&#8211;now. &nbsp; <a href="https://stuffandnonsense.co.uk" target="_blank">Design</a></small>


<!-- ********************************************************
Design: Andy Clarke • Stuff & Nonsense
URL: https://stuffandnonsense.co.uk
Development assistance: Sush Kelly • Creativity & Code
URL: https://sushkelly.co.uk
******************************************************** -->