<head>

<!-- ********************************************************
Design: Andy Clarke • Stuff & Nonsense
URL: https://stuffandnonsense.co.uk
Development: Sush Kelly • Creativity & Code
URL: https://sushkelly.co.uk
******************************************************** -->

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{% include "partials/meta.html" %}

<meta name="msapplication-TileColor" content="">
<meta name="theme-color" content="">
<meta name="robots" content="index, follow, noodp" />

<meta name="apple-mobile-web-app-title" content="" />
<meta name="author" content="" />
<meta name="description" content="" />

<meta property="og:locale" content="en_GB"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="" />
<meta property="og:site_name" content="" />
<meta property="article:author" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="" />

<link rel="canonical" href=""/>
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="stylesheet" href="/css/critical.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap" rel="stylesheet">

</head>