<h2>Resources</h2>

<ul class="alt-" data-variant="bordered-l">
{% for category in collections.resourcesCategory %}
{% set categoryName = category | trim %}
<li><a href="/resources/category/{{ categoryName | lower | replace(' ', '-') }}/" class="{% if currentCategory and categoryName == (currentCategory | trim) %}active{% endif %}">{{ categoryName }}</a></li>
{% endfor %}
</ul>

<hr data-function="spacer">

<h2>Tags</h2>

<ul class="alt-" data-variant="bordered-l">
{% for tag in collections.resourcesTag %}
{% set tagName = tag | trim %}
<li><a href="/resources/tag/{{ tagName | lower | replace(' ', '-') }}/" class="{% if currentTag and tagName == (currentTag | trim) %}active{% endif %}">
{{ tagName }}</a></li>
{% endfor %}
</ul>
