{% for resource in resources %}
{% set resourceLink = resource.data["item-file"] or resource.data["item-url"] %}
<article class="item-resource">

<div class="alt-bordered">
<small>{{ resource.data["item-date"] | dateFilter('d MMM yyyy') }}</small>
<small>{{ resource.data["item-type"] }}</small>
</div><!-- alt-bordered -->

<h2 data-size="l">
{% if resourceLink %}
<a href="{{ resourceLink }}" target="_blank">{{ resource.data["item-title"] }}</a>
{% else %}
{{ resource.data["item-title"] }}
{% endif %}
</h2>

<p>{{ resource.data["item-summary"] | markdownLinksToHtml | safe }}</p>

{{ resource.templateContent | markdownLinksToHtml | safe }}

{% set categoriesText = (resource.data["item-categories"] or []) | join("||") | lower %}
{% if "background papers" in categoriesText and resource.data["item-author"] %}
{% endif %}
{% if "background papers" in categoriesText and resource.data["item-author-bio"] %}
<div class="author-info">
{% if resource.data["item-author"] %}<p><b>{{ resource.data["item-author"] }}</b></p>{% endif %}
<p>{{ resource.data["item-author-bio"] | truncateText(256, "…") }}</p>
</div><!-- author-info -->
{% endif %}

<small>{% for category in resource.data["item-categories"] %}
{% set categoryName = category | trim %}
<a href="/resources/category/{{ categoryName | lower | replace(' ', '-') }}/" class="alt-category">{{ categoryName }}</a>
{% endfor %} {% for tag in resource.data["item-tags"] %}
{% set tagName = tag | trim %}
<a href="/resources/tag/{{ tagName | lower | replace(' ', '-') }}/" class="alt-tag">{{ tagName }}</a>{% endfor %}
</small>
</article>
{% endfor %}
