<h3>Categories</h3>

<ul class="alt-">
{% for category in collections.resourcesCategory %}
<li><a href="/resources/category/{{ category | lower | replace(' ', '-') }}/" class="{% if category == currentCategory %}active{% endif %}">{{ category }}</a></li>
{% endfor %}
</ul>

<hr>

<h3>Tags</h3>

<ul class="alt-">
{% for tag in collections.resourcesTag %}
<li><a href="/resources/tag/{{ tag | lower | replace(' ', '-') }}/" class="{% if tag == currentTag %}active{% endif %}">
{{ tag }}</a></li>
{% endfor %}
</ul>